 body {
    padding-top: 40px;
  }
.navbar-default {
  background-color: #2196f3;
  border-color: #1976d2;
}
.navbar-default .navbar-brand {
  color: #f4f4f4;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #64b5f6;
}
.navbar-default .navbar-text {
  color: #f4f4f4;
}
.navbar-default .navbar-nav > li > a {
  color: #f4f4f4;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #64b5f6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #64b5f6;
  background-color: #1976d2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #64b5f6;
  background-color: #1976d2;
}
.navbar-default .navbar-toggle {
  border-color: #1976d2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1976d2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f4f4f4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f4f4f4;
}
.navbar-default .navbar-link {
  color: #f4f4f4;
}
.navbar-default .navbar-link:hover {
  color: #64b5f6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f4f4f4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #64b5f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #64b5f6;
    background-color: #1976d2;
  }
}